 .chat-message-user {
     display: flex;
     justify-content: end;
     align-items: start;
 }

 .chat-message-robot {
     display: flex;
     justify-content: start;
     align-items: start;
 }

 .chat-message-text {
     background-color: rgb(238, 238, 238);
     padding: 5px 10px;
     border-radius: 0px 20px 0px 20px;
     max-width: 300px;
     margin-right: 10px;
     margin-left: 10px;
     margin-bottom: 20px;
 }

 .current-time {
     color: rgb(120, 120, 120);
     font-size: 12px;
     margin-top: 5px;
     text-align: end;
 }

 .loading-spinner {
     height: 40px;
     margin: -15px;
 }